        {% extends 'register/base.html' %}

        {% block title %}Beranda{% endblock %}
        {% block nav_active_beranda %} active{% endblock %}

        {% block main_content %}
        <div class="container">
            <div class="jumbotron">
                <h1>Pra-UAS Project</h1>
                <h3>"Manajemen Pendaftaran Mahasiswa Baru"</h3>
                <p class="text-justify">Sebuah proyek <em>website</em> sederhana yang dikembangkan menggunakan <a href="https://djangoproject.com"><strong>Django</strong></a>,
                    <a href="https://jquery.org"><strong>jQuery</strong></a>, <a href="http://json.org"><strong>JSON</strong></a> dan <a href="https://getbootstrap.com"><strong>Bootstrap</strong></a>
                    (oleh <a href="https://www.twitter.com"><strong>Twitter</strong></a>) sebagai <em>front-end framework</em> untuk memanfaatkan fitur-fitur pada <a href="http://www.w3.org/TR/html5/">HTML5</a>
                    serta membentuk halaman situs yang <a href="http://en.wikipedia.org/wiki/Responsive_web_design"><em>responsive</em></a>.
                </p>
                <p>
                    Kode sumber project ini dapat anda lihat pada laman <a href="https://github.com/janglapuk/pmb-project" target="_blank"><strong>GitHub</strong></a>.
                </p>

                <p><a href="{% url 'reg_help_about' %}" class="btn btn-success btn-lg">Selengkapnya!</a></p>
            </div>

        <hr />

        <footer>
            <p>© Tim Pengembang 2014</p>
        </footer>

        </div>
        {% endblock %}